@import url('https://fonts.google.com/specimen/Outfit');
body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    /* width: 449px; */
    /* margin-left: 265px; */
    padding: 12px 20px;
    height: 620px;
}

.card-image {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-image img {
    border-radius: 8px;
    margin-top: -35px;
    height: auto;
    width: 375px;
}

.card-title {
    color: #fff;
    font-size: 18px;
    margin-right: 225px;
    margin-bottom: -25px;
    text-align: left;
}

.card-description {
    color: hsl(215, 51%, 70%);
    /* font-size: 18px; */
    /* margin-left: 40px; */
    /* padding: 0px; */
    /* margin-top: -6px; */
    text-align: left;
    margin-right: 97px;
}

.card-price-time-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.card-price {
    /* text-align: left;
    margin-right: 97px; */
    margin-right: 216px;
    color: hsl(178, 100%, 50%);
}

.card-time-duration {
    color: hsl(215, 51%, 70%);
}

/* divider */
hr {
    color: hsl(215, 32%, 27%);
    /* border-top: 3px solid hsl(215, 32%, 27%) */
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.card-footer {
    display: flex;
}

.card-footer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.card-footer-creator {
    color: hsl(215, 51%, 70%);
}

.card-footer-creator-name {
    color: #fff;
}

.card-footer img {
    width: 60px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-left: -129px;
}

/* .attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */